<div class="language-switcher" (blur)="onBlur()">
    <button class="language-switcher__toggle" (click)="toggleDropdown()" [class.active]="isDropdownOpen"
        aria-label="Language switcher">
        <span class="language-switcher__flag">{{ currentLanguage.flag }}</span>
        <span class="language-switcher__code">{{ currentLanguage.code.toUpperCase() }}</span>
        <svg class="language-switcher__arrow" [class.rotated]="isDropdownOpen" viewBox="0 0 24 24" width="16"
            height="16">
            <path d="M7 10l5 5 5-5z" fill="currentColor" />
        </svg>
    </button>

    <div class="language-switcher__dropdown" [class.open]="isDropdownOpen">
        <button *ngFor="let language of languages" class="language-switcher__option"
            [class.active]="language.code === currentLanguage.code" (click)="selectLanguage(language)">
            <span class="language-switcher__flag">{{ language.flag }}</span>
            <span class="language-switcher__name">{{ language.name }}</span>
        </button>
    </div>
</div>