<div class="navbar" [class.scrolled]="shouldHaveBackground">
    <div class="navbar_container">
        <div class="navbar_logo">
            <img class="navbar_logo_image" [src]="logosImages.logo" />
            <span class="navbar_logo_text">Logos</span>
        </div>
        <div class="navbar_links">
            <a class="navbar_links_link" (click)="goToHome()">Strona Główna</a>
            <a class="navbar_links_link" (click)="goToContactForm()">Kontakt</a>
            <a class="navbar_links_link" (click)="goToLogin()">Login</a>
            <a class="navbar_links_link cta" (click)="goToContactForm()">Umów się na sesję</a>
        </div>
    </div>
</div>