<div class="navbar" [class.scrolled]="shouldHaveBackground">
    <div class="navbar_container">
        <div class="navbar_logo">
            <img class="navbar_logo_image" [src]="logosImages.logo" />
        </div>
        <div class="navbar_links">
            <a class="navbar_links_link" (click)="goToHome()">{{ translationService.t('navbar.home') }}</a>
            <a class="navbar_links_link" (click)="goToContactForm()">{{ translationService.t('navbar.contact') }}</a>
            <a class="navbar_links_link" (click)="goToExternalLogin()">{{ translationService.t('navbar.login') }}</a>
            <a class="navbar_links_link cta" (click)="goToExternalRegister()">{{ translationService.t('navbar.register')
                }}</a>
            <app-language-switcher class="navbar_language"></app-language-switcher>
        </div>
    </div>
</div>