<header class="mobile-nav" [class.scrolled]="isScrolled">
    <div class="mobile-nav_container">
        <div class="mobile-nav_logo">
            <img class="mobile-nav_logo_image" [src]="logosImages.logo" alt="Logo" />
        </div>

        <button class="mobile-nav_burger-btn" aria-label="Toggle menu" (click)="toggleMobileMenu()"
            [attr.aria-expanded]="mobileMenuOpen">
            <svg *ngIf="!mobileMenuOpen" class="burger-icon" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <svg *ngIf="mobileMenuOpen" class="burger-icon" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

    <nav class="mobile-nav_links" [@openClose]="openCloseTrigger" *ngIf="mobileMenuOpen">
        <a class="mobile-nav_links_link" (click)="goToHome()">Strona Główna</a>
        <a class="mobile-nav_links_link" (click)="goToContactForm()">Kontakt</a>
        <a class="mobile-nav_links_link" (click)="goToExternalLogin()">Zaloguj się</a>
        <a class="mobile-nav_links_link cta" (click)="goToExternalRegister()">Dołącz do nas</a>
    </nav>
</header>