<section class="testimonials">
    <h2 class="testimonials_title">{{ translationService.t('testimonials.title') }}</h2>

    <div class="testimonials_grid">
        <div class="testimonials_column">
            <div class="testimonial_card" *ngFor="let testimonial of testimonials.slice(0, 2); let i = index"
                [class.visible]="visibleCards[i]">
                <p class="testimonial_card_review">{{ testimonial.review }}</p>

                <div class="testimonial_card_author">
                    <img class="testimonial_card_author_image" [src]="testimonial.image" [alt]="testimonial.name" />
                    <div class="testimonial_card_author_info">
                        <strong class="testimonial_card_author_info_name">{{ testimonial.name }}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials_column">
            <div class="testimonial_card" *ngFor="let testimonial of testimonials.slice(2, 4); let i = index"
                [class.visible]="visibleCards[i + 2]">
                <p class="testimonial_card_review">{{ testimonial.review }}</p>

                <div class="testimonial_card_author">
                    <img class="testimonial_card_author_image" [src]="testimonial.image" [alt]="testimonial.name" />
                    <div class="testimonial_card_author_info">
                        <strong class="testimonial_card_author_info_name">{{ testimonial.name }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>