<app-navbar></app-navbar>
<app-mobile-nav></app-mobile-nav>
<section class="terms-of-service">
    <h2>📄 Regulamin</h2>

    <ol>
        <li>
            <strong>Postanowienia ogólne</strong>
            <ol>
                <li>Niniejszy regulamin określa zasady korzystania z serwisu internetowego dostępnego pod adresem
                    <strong>[TWOJA_DOMENA.PL]</strong>.
                </li>
                <li>Serwis prowadzony jest przez <strong>[NAZWA FIRMY / OSOBY]</strong>, z siedzibą w
                    <strong>[ADRES]</strong>, NIP: <strong>[NIP]</strong>, REGON: <strong>[REGON]</strong>.
                </li>
                <li>Korzystając z serwisu, użytkownik akceptuje warunki niniejszego regulaminu.</li>
            </ol>
        </li>

        <li>
            <strong>Definicje</strong>
            <ul>
                <li><strong>Serwis</strong> – strona internetowa dostępna pod adresem [TWOJA_DOMENA.PL].</li>
                <li><strong>Użytkownik</strong> – każda osoba fizyczna lub prawna korzystająca z Serwisu.</li>
                <li><strong>Administrator</strong> – właściciel i operator Serwisu.</li>
            </ul>
        </li>

        <li>
            <strong>Warunki korzystania</strong>
            <ol>
                <li>Użytkownik zobowiązuje się do korzystania z Serwisu zgodnie z obowiązującym prawem oraz zasadami
                    współżycia społecznego.</li>
                <li>Zabrania się dostarczania treści o charakterze bezprawnym.</li>
                <li>Administrator zastrzega sobie prawo do wprowadzania zmian w Serwisie bez wcześniejszego
                    powiadomienia.</li>
            </ol>
        </li>

        <li>
            <strong>Odpowiedzialność</strong>
            <ol>
                <li>Administrator nie ponosi odpowiedzialności za przerwy w działaniu Serwisu wynikające z przyczyn
                    technicznych.</li>
                <li>Administrator nie ponosi odpowiedzialności za działania Użytkowników niezgodne z Regulaminem.</li>
            </ol>
        </li>

        <li>
            <strong>Prawa autorskie</strong>
            <ol>
                <li>Wszystkie treści opublikowane w Serwisie są chronione prawem autorskim.</li>
                <li>Kopiowanie, przetwarzanie i rozpowszechnianie treści bez zgody Administratora jest zabronione.</li>
            </ol>
        </li>

        <li>
            <strong>Postanowienia końcowe</strong>
            <ol>
                <li>Regulamin wchodzi w życie z dniem opublikowania na stronie internetowej.</li>
                <li>Administrator zastrzega sobie prawo do zmiany Regulaminu. Zmiany obowiązują od momentu ich
                    publikacji.</li>
            </ol>
        </li>
    </ol>
</section>
<app-footer></app-footer>