<footer class="footer">
    <div class="footer__content" [@footerStagger]>
        <!-- Logo i opis -->
        <div class="footer__col footer__brand">
            <div class="footer__logo">
                <img src="assets/logo.svg" alt="Logo" />
                <span>TwojaNazwa</span>
            </div>
            <p class="footer__desc">
                Nam posuere accumsan porta. Integer id tincidunt sit amet sed libero.
            </p>
            <p class="footer__copyright">© Skyrev Theme 2021</p>
        </div>

        <!-- Linki -->
        <div class="footer__col">
            <h4 class="footer__heading">Company</h4>
            <ul class="footer__list">
                <li><a href="#">Donec dignissim</a></li>
                <li><a href="#">Curabitur egestas</a></li>
                <li><a href="#">Nam posuere</a></li>
                <li><a href="#">Aenean facilisis</a></li>
            </ul>
        </div>

        <div class="footer__col">
            <h4 class="footer__heading">Services</h4>
            <ul class="footer__list">
                <li><a href="#">Cras convallis</a></li>
                <li><a href="#">Vestibulum faucibus</a></li>
                <li><a href="#">Quisque lacinia purus</a></li>
                <li><a href="#">Aliquam nec ex</a></li>
            </ul>
        </div>

        <div class="footer__col">
            <h4 class="footer__heading">Resources</h4>
            <ul class="footer__list">
                <li><a href="#">Suspendisse porttitor</a></li>
                <li><a href="#">Nam posuere</a></li>
                <li><a href="#">Curabitur egestas</a></li>
                <li><a href="#">English - En</a></li>
            </ul>
        </div>

        <!-- Social Media -->
        <div class="footer__col footer__social">
            <a href="#"><img src="assets/icons/facebook.svg" alt="Facebook" /></a>
            <a href="#"><img src="assets/icons/instagram.svg" alt="Instagram" /></a>
            <a href="#"><img src="assets/icons/linkedin.svg" alt="LinkedIn" /></a>
        </div>
    </div>
</footer>