.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    margin-top: 60px;
    position: relative;
    overflow: hidden;

    &_left {
        padding-left: 7%;
        width: 50%;

        .hero_title {
            font-size: 55px;
            font-weight: 600;
            font-family: 'Metrolopolis', sans-serif;
            line-height: 1.2;

            color: #011632;
            margin-bottom: 20px;
        }

        .hero_description {
            font-size: 1.125rem;
            color: #3C4959;
            width: 60%;
            font-family: 'Metrolopolis', sans-serif;
            margin-bottom: 30px;
            line-height: 1.6;
        }

        .hero_cta {
            background-color: #007bff;
            color: white;
            padding: 16px 30px;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            font-family: 'Metrolopolis', sans-serif;
            font-weight: 500;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                cursor: pointer;
                background-color: #0056b3;
            }
        }

        .hero_reviews {
            margin-top: 50px;
            display: flex;

            .hero_review {
                display: flex;
                align-items: flex-start;
                margin-bottom: 20px;
                border-radius: 15px;
                width: 350px;
                margin-right: 20px;
                box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);

            }
        }
    }

    &_right {

        width: 50%;
        display: flex;
        justify-content: center;

        .hero_image {
            max-width: 80%;

        }
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center; // dodane
        text-align: center; // dodane

        &_right {
            margin-top: 40px;
            justify-content: center;
            align-items: center;
            text-align: center;

            .hero_image {
                max-width: 100%;


            }
        }

        &_left {
            margin-top: 40px;
            padding-left: 0%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .hero_title {
                font-size: 35px;
                font-weight: 600;
                font-family: 'Metrolopolis', sans-serif;
                line-height: 1.2;
                width: 400px;

                color: #011632;
                margin-bottom: 20px;
            }

            .hero_description {
                font-size: 20px;
                color: #3C4959;
                width: 100%;
                font-family: 'Metrolopolis', sans-serif;
                margin-bottom: 30px;
                width: 300px;
                line-height: 1.6;
            }

            .hero_cta {
                background-color: #007bff;
                color: white;
                width: 300px;
                border: none;
                border-radius: 8px;
                font-size: 18px;
                font-family: 'Metrolopolis', sans-serif;
                font-weight: 500;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    cursor: pointer;
                    background-color: #0056b3;
                }
            }

            .hero_reviews {
                /* Flex w kolumnę */
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* wycentruj recenzje */

                .hero_review {
                    /* Usuń sztywne szerokości, żeby adaptowały się do kontenera */
                    width: 100%;
                    margin-right: 0; // Usuń margines z prawej
                    width: 300px;

                    max-width: 400px;
                }

            }
        }
    }
}